<%-include("partials/header")-%>
<div class="heading">
    <h3>Download the Marker </h3>
</div>
<div class="setup-content">
<img src="images/Marker.jpeg">
<a class="download" href="images/Marker.jpeg" download>Download ⇓</a>
<br>
<p>Put the marker at more than 6ft(approx) distance from camera
    and at height of 3ft 
    then use the test 
    <a href="/ar/test"> TEST=></a>
    <br>
    You have to coincide parrallel line with the base of the wall 
    (So put marker according to your convenience)
</p>
</div>

<%-include("partials/footer")-%>